@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app{
  height:100%;
  width:100%;
  @apply text-sm;
  @apply bg-white
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins)
}

.filter-grey {
  filter: brightness(0) saturate(100%) invert(47%) sepia(0%) saturate(217%)
    hue-rotate(32deg) brightness(98%) contrast(92%);
}

/* ========================================== TAILWIND STYLES */
@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
  }
  .dynamic-wrapper {
    @apply max-w-7xl lg:mx-auto p-20 md:px-20 xl:px-0 w-full;
  }


  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  /* TYPOGRAPHY */
  /* 64 */
  .h1-bold {
    @apply font-bold text-[36px] leading-[44px] lg:text-[48px] lg:leading-[56px]  xl:text-[54px] xl:leading-[70px];
  }

  /* 40 */
  .h2-bold {
    @apply font-bold text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
  }

  .h2-medium {
    @apply font-medium text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
  }

  /* 36 */
  .h3-bold {
    @apply font-bold text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
  }

  .h3-medium {
    @apply font-medium text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
  }

  /* 32 */
  .h4-medium {
    @apply font-medium text-[32px] leading-[40px];
  }

  /* 28 */
  .h5-bold {
    @apply font-bold text-[28px] leading-[36px];
  }

  /* 24 */
  .p-bold-24 {
    @apply font-bold text-[24px] leading-[36px];
  }

  .p-medium-24 {
    @apply font-medium text-[24px] leading-[36px];
  }

  .p-regular-24 {
    @apply font-normal text-[24px] leading-[36px];
  }

  /* 20 */
  .p-bold-20 {
    @apply font-bold text-[20px] leading-[30px] tracking-[2%];
  }

  .p-semibold-20 {
    @apply text-[20px] font-semibold leading-[30px] tracking-[2%];
  }

  .p-medium-20 {
    @apply text-[20px] font-medium leading-[30px];
  }

  .p-regular-20 {
    @apply text-[20px] font-normal leading-[30px] tracking-[2%];
  }

  /* 18 */
  .p-semibold-18 {
    @apply text-[18px] font-semibold leading-[28px] tracking-[2%];
  }

  .p-medium-18 {
    @apply text-[18px] font-medium leading-[28px];
  }

  .p-regular-18 {
    @apply text-[18px] font-normal leading-[28px] tracking-[2%];
  }

  /* 16 */
  .p-bold-16 {
    @apply text-[16px] font-bold leading-[24px];
  }

  .p-medium-16 {
    @apply text-[16px] font-medium leading-[24px];
  }

  .p-regular-16 {
    @apply text-[16px] font-normal leading-[24px];
  }

  /* 14 */
  .p-semibold-14 {
    @apply text-[14px] font-semibold leading-[20px];
  }

  .p-medium-14 {
    @apply text-[14px] font-medium leading-[20px];
  }

  .p-regular-14 {
    @apply text-[14px] font-normal leading-[20px];
  }

  /* 12 */
  .p-medium-12 {
    @apply text-[12px] font-medium leading-[20px];
  }

  /* SHADCN OVERRIDES */
  .select-field {
    @apply w-full bg-grey-50 h-[54px] placeholder:text-grey-500 rounded-full p-regular-16 px-5 py-3 border-none focus-visible:ring-transparent focus:ring-transparent !important;
  }

  .input-field {
    @apply bg-grey-50 h-[54px] focus-visible:ring-offset-0 placeholder:text-grey-500 rounded-full p-regular-16 px-4 py-3 border-none focus-visible:ring-transparent !important;
  }

  .textarea {
    @apply bg-grey-50 flex flex-1 placeholder:text-grey-500 p-regular-16 px-5 py-3 border-none focus-visible:ring-transparent !important;
  }

  .button {
    @apply rounded-full h-[54px] p-regular-16;
  }

  .select-item {
    @apply py-3 cursor-pointer  focus:bg-primary-50;
  }

  .toggle-switch {
    @apply bg-gray-300 !important;
  }
  .leftsidebar {
    @apply hidden md:flex px-6 py-10 flex-col justify-between min-w-[270px] bg-slate-600;
  }

}

/* ========================================== CLERK STYLES */
.cl-logoImage {
  height: 38px;
}

.cl-userButtonBox {
  flex-direction: row-reverse;
}

.cl-userButtonOuterIdentifier {
  font-size: 16px;
}

.cl-userButtonPopoverCard {
  right: 4px !important;
}

.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  background-color: #5cf764
}

/* ========================================== REACT-DATEPICKER STYLES */
.datePicker {
  width: 100%;
}


/* Tiptap editor style */

.ProseMirror{
  background-color: white;
  color: black;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.75rem;
}


/* PostCard style for technology */

.bigCard {
  position: relative;
  display: flex;
  min-height: 380px;
  width: 100%;
  max-width: 400px;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.25rem; /* Adjust as necessary */
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-in-out;
  /* additional styles */
}

.mediumCard {
  width: 70%;
  height: 300px;
  /* additional styles */
}

.smallCard {
  width: 50%;
  height: 200px;
  /* additional styles */
}

.titleOnlyCard {
  width: 100%;
  height: auto;
}

/* .postCardBase {
  @apply group relative flex min-h-380px w-full max-w-400px flex-col overflow-hidden rounded bg-white ;
} */

.noImage {
  /* background: none !important; */
}

.flexCenter {
  @apply flex justify-center items-center;
}

.bgGray50 {
  @apply bg-gray-50;
}

.textGrey500 {
  @apply text-grey-500;
}

/* .pBold {
  @apply p-bold;
}

.mdH5Bold {
  @apply md:h5-bold;
}

.pRegular14 {
  @apply p-regular-14;
} */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  list-style: none;
  padding: 0;
}
.grid-container li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 5px;
  padding: 20px;
}

.index-0 {
  grid-column: span 2;
  grid-row: span 2;
}

.Demo__container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 30px);
  max-width: 400px;
  margin: 0 auto;
}

.Demo__some-network {
  text-align: center;
}

.Demo__some-network__share-count {
  display: inline-flex;
  justify-content: center;
  white-space: nowrap;
  overflow: visible;
  width: 0;
  font-size: 14px;
}

.Demo__some-network__share-button {
  cursor: pointer;
}

.Demo__some-network__share-button:hover:not(:active) {
  opacity: 0.75;
}

.gradient-text {
  color: transparent; /* Makes the text invisible */
  background-image: linear-gradient(90deg, rgba(109,110,53,1) 0%, rgba(206, 203, 20, 0.881) 11%, rgba(196, 205, 15, 0.767) 32%, rgba(186, 177, 9, 0.845) 76%, rgba(244, 203, 20, 0.963) 99%);
  -webkit-background-clip: text; /* For Chrome */
  background-clip: text; /* For others */
}
/* Define a gold gradient for text */
.gold-gradient-text {
  background: linear-gradient(90deg, #FFD700, #FFA500, #FF8C00, #DAA520, #B8860B);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: goldShimmer 5s linear infinite;
}

@keyframes goldShimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.green-gradient-text {
  background: linear-gradient(90deg, #32CD32, #00FF00, #7FFF00, #00FA9A, #00FF7F);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: greenShimmer 5s linear infinite;
}

@keyframes greenShimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.hover-effect {
  transition: transform 0.5s ease, filter 0.5s ease;
}

.hover-effect:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

.gradient-blue-text {
  background:linear-gradient(90deg, #0000FF, #00BFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.sky-gradient-text {
  background: linear-gradient(90deg, #00f2ff, #ece7ec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 8s ease infinite;
  background-size: 300% 300%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.gradient-background {
  background: linear-gradient(90deg, #000000, #3f406d);
  animation: gradientBackgroundAnimation 8s ease infinite;
  background-size: 300% 300%;
}

@keyframes gradientBackgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.about-body{
  background: linear-gradient(135deg, #000000 0%, #363636 25%, #1a1a1a 50%, #434343 75%, #000000 100%);
}
.bg-gr-gradient{
  background: linear-gradient(135deg, #525151 0%,#161616  25%, #121212 50%,#545728  75%,  #505124 100%);
}
.bg-footer-gradient{
  background: linear-gradient(180deg, #3e3e3e 0%, #1b1b1b 25%, #121212 50%, #161616 75%, #525151 100%);
}

.bg-topbar-gradient{
  background: linear-gradient(180deg, #000000 0%, #0b0b0b 25%, #121212 50%, #232323 75%, #434343 100%);
}
.bg-black-gradient-2{
  background: linear-gradient(135deg, #000000 0%, #000000 25%, #121212 50%, #161616 75%, #2d2d2d 100%);
}
.bg-front-card{
  background: linear-gradient(135deg, #505551 0%, #000000 25%, #234f1f 50%, #161616 75%, #515251 100%);
}
.bg-front-card-technology{
  background: linear-gradient(135deg, #7d6451 0%, #000000 25%, #4f4c1f 50%, #161616 75%, #52342d 100%);
}
.bg-gr-gradient-3{
  background: linear-gradient(135deg, #3d5238 0%, #292d29 25%, #121212 50%, #161616 75%, #525151 100%);
}